.clients {
    padding-bottom: 94px;
}

.clients__list {
    @extend %list;
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.clients__icon {
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    fill: #afb1b8;
}

.clients__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link {
    &:hover,
    &:focus {
    border-color: $focus-color;
}
}
.clients__link {
&:hover, 
&:focus {
.clients__icon
{
    fill: $focus-color;
}
}
}