.command {
    text-align: center;
    padding-bottom: 60px;
    background-color: $add-back-color;
}

.command__list {
    @extend %list;

    @media screen and (min-width:768px) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

}

.command__card {
    margin-top: 0;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $main-back-color;
}

@media (max-width:767px) {
    .command__card+.command__card {
        margin-top: 30px;
    }
}

.command__name {
    display: block;
    padding-top: 30px;
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
}

.command__position {
    display: block;
    margin-top: 0;
    margin-bottom: 16px;

    font-size: 16px;
    line-height: calc(19 / 16);
    color: $alt-color;
}

.command__net-list {
    @extend %list;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 30px;
}

.command__net-item {
    display: inline-block;
    justify-content: center;
}

.command__net-link {
    @extend %net-link;
    background-color: $main-back-color;
}

.command__net-link {

    &:hover,
    &:focus {
        background-color: $focus-color;
    }
}

.command__net-link {

    &:hover,
    &:focus {
        .command__net-icon {
            fill: currentColor;
        }
    }
}

.command__net-icon {
    fill: #afb1b8;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}