.header {
  border-bottom: 1px solid #ececec;
}

.header__menu {
  display: flex;
}

.header__main-nav {
  display: flex;
  align-items: center;
  background-color: $main-back-color;
}

.header__logo {
  margin-right: 93px;
  padding-bottom: 24px;
  padding-top: 25px;
  color: #000000;
}


.header__contacts {
  @extend %list;
  display: flex;
  margin-left: auto;
  align-items: center;
}

 .header__item+.header__item {
  .header__contacts & {
  margin-left: 50px;
  }
}

.header__contact {
  display: flex;
  align-items: center;
  padding: 20px 0;
  display: flex;
  align-items: center;

  color: $alt-color;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover, 
  &:focus{
  color: $focus-color;
    }
}

.header__contact-icon {
  align-items: center;

  fill: $alt-color;
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

 .header__contact-icon {
  .header__contact:hover &,
  .header__contact:focus &{
  fill: $focus-color;
}
}